.cardapio-container {
  padding: 30px;
  text-align: center;
}

.pratos {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.prato {
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
}

.prato img {
  width: 100%;
  border-radius: 10px;
  height: 180px;
  object-fit: cover;
}

.prato h3 {
  margin-top: 10px;
}
