.lista-container {
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #3e2723;
}

.lista-container h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #5d4037;
}

.lista-reservas {
  width: 85%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.lista-reservas th {
  background: #d7ccc8;
  padding: 14px;
  color: #4e342e;
}

.lista-reservas td {
  background: #f3e5d8;
  padding: 14px;
  border-bottom: 2px solid #d7ccc8;
}

.lista-reservas tr:hover td {
  background: #e9d1bf;
}

.botao-voltar {
  margin-top: 25px;
  padding: 12px 18px;
  background: #8b4513;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-voltar:hover {
  background: #6d3310;
}
