.minhasreservas-container {
  padding: 30px;
  text-align: center;
}

.filtros {
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filtros input {
  padding: 10px;
}

.filtros button {
  padding: 10px;
  background: #8b4513;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
}

table {
  margin: 20px auto;
}
