

.reservar-container {
  max-width: 900px;
  margin: 40px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
}

.titulo {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 25px;
}



.form-reserva {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-reserva label {
  font-weight: 600;
  color: #444;
}

.form-reserva input,
.form-reserva select {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 16px;
  transition: 0.3s;
}

.form-reserva input:focus,
.form-reserva select:focus {
  border-color: #6d3a2d;
  box-shadow: 0 0 6px rgba(255, 126, 95, 0.5);
  outline: none;
}



.btn-confirmar {
  background: linear-gradient(45deg, #6b3d31, #ffb084);
  border: none;
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-confirmar:hover {
  transform: scale(1.03);
  background: linear-gradient(45deg, #ff6f4f, #ffa672);
}



.subtitulo {
  margin-top: 35px;
  font-size: 22px;
  font-weight: 700;
  color: #333;
  text-align: center;
}

.lista-reservas {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item-reserva {
  background: #fafafa;
  border-left: 4px solid #ff7e5f;
  padding: 15px;
  margin: 12px 0;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0,0,0,0.05);
}

.item-reserva strong {
  color: #ff7e5f;
}
